html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.index-nav-bar {
  width: 100%;
  height: 800px;
  background: url('../images/headerimg.png');
  background-position: center;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.about-nav-bar {
  width: 100%;
  height: 800px;
  background: url('../images/oooo.png') no-repeat 50% 50%;
  background-size: cover;
  background-position: top;
}

.necklacesNavBar {
  width: 100%;
  height: auto;
}

h1 {
  color: black;
  text-align: center;
  padding-top: 50px;
}

.firstContent {
  font-size: 12px;
  font-weight: 300;
  color: rgb(128, 128, 128);
  width: 580px;
  margin: auto;
  line-height: 30px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 50px;
  display: table;
  background-attachment: fixed;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: black;
  font-weight: 800;
  font-size: 24px;
}

/* .this-is-us {
  font-size: 55px;
  color: white;
  font-weight: 800;
  padding-left: 100px;
  padding-top: 500px;
} */

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  color: black;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: white;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

.menuLink {
  color: black;
  font-size: 16px;
}

.menu-icon {
  width: 100%;
  background: white;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: black;
  display: none;
}

.fa {
  margin-right: 5px;
}

.secondContent {
  font-size: 12px;
  font-weight: 300;
  color: rgb(128, 128, 128);
  width: 580px;
  margin: auto;
  line-height: 30px;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 50px;
  display: table;
  background-attachment: fixed;
}

h2 {
  text-align: center;
  padding-top: 10px;
  color: black;
}

.brand-info {
  color: black;
  font-size: 20px;
  margin-left: 100px;
  line-height: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 900px;
  letter-spacing: 0px;
}

.brand-info h6 {
  color: black;
  font-size: 20px;
  font-weight: 300;
}

.our-warehouse {
  color: black;
  font-size: 20px;
  font-weight: 800;
  line-height: 50px;
  padding-top: 30px;
  padding-bottom: 70px;
  letter-spacing: 2px;
  margin-left: 60px;
}

.our-warehouse h6 {
  padding-bottom: 20px;
}

.suppliers-info {
  color: black;
  font-size: 20px;
  font-weight: 800;
  line-height: 50px;
  padding-top: 30px;
  padding-bottom: 70px;
  letter-spacing: 2px;
  margin-left: 60px;
}

.product-info {
  margin: auto;
  margin-top: 0;
  width: 500px;
  height: auto;
  line-height: 40px;
}

.new-collection-info {
  font-size: 12px;
  font-weight: 300;
  color: rgb(128, 128, 128);
  width: 580px;
  margin: auto;
  line-height: 30px;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 50px;
  display: table;
  background-attachment: fixed;
}

.new-collection-info h5 {
  color: black;
  text-align: center;
}

/* buttons */

.shopButton {
  border: 1px solid white;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  height: auto;
  width: 80px;
  color: black;
  margin: auto;
  margin-top: 500px;
  padding: 7px;
  text-align: center;
  border-radius: 3px;
}

/* .collectionButton {
  font-size: 80px;
  font-weight: 800;
  margin-left: 655px;
  margin-top: 300px;
  color: white;
}

.saleButton {
  font-size: 100px;
  font-weight: 800;
  margin-left: 855px;
  margin-top: 300px;
} */

.social-media .twitter,
.instagram,
.facebook,
.pinterest {
  color: black;
  font-size: 10px;
  font-weight: 600;
}

/* containers */

.newCollectionContainer {
  width: 100%;
  height: 800px;
  background-image: url("../images/_DSC7820.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.saleContainer {
  width: 100%;
  height: 800px;
  background-image: url("../images/_DSC6595.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.promotion-container {
  display: flex;
}

.secondary-photo {
  background-image: url("../images/_DSC7762.jpg");
  width: 900px;
  height: 700px;
  background-size: cover;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.warehouse-container {
  width: 100%;
  height: 800px;
  background: url('../images/SharonAttia5.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.more-info {
  display: flex;
  padding-bottom: 100px;
}

.product {
  background-image: url("../images/earringssec.png");
  background-size: cover;
  width: 700px;
  height: 700px;
  margin: auto;
}

footer {
  padding-top: 50px;
}

.social-media {
  width: 100%;
  height: auto;
  margin: auto;
  display: table;
  background-attachment: fixed;
}

.media-links ul {
  padding-top: 20px;
  text-align: center;
}

.media-links ul li {
  padding: 10px;
  display: inline-block;
}

.careers {
  width: 100%;
  height: auto;
}

.careers ul {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.careers ul li {
  padding: 15px;
  display: inline-block;
}

.careers ul li a {
  color: black;
}

/* pictures boxes */

.necklaceBox {
  margin-top: 70px;
  border: 100px solid white;
  width: 500px;
  height: 700px;
  background-image: url("../images/necklaacessec.png");
  background-position: center;
  background-size: cover;
}

.earringBox {
  border-bottom: 5px solid white;
  width: 520px;
  height: 520px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/_DSC7610.png");
}

.braceletBox {
  width: 520px;
  height: 520px;
  background-size: cover;
  background-image: url("../images/_DSC0877.png");
  border-top: 5px solid white;
  border-bottom: 9px solid white;
}

/* necklaces html */

.big-content-container {
  margin-top: 50px;
  width: 900px;
  height: 1000px;
  margin: auto;
}

.first-line {
  padding-top: 110px;
  display: flex;
}

.box-1 {
  background-image: url("../images/_DSC0203.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-2 {
  background-image: url("../images/_DSC1705.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  border: 20px solid white;

}

.box-3 {
  background-image: url("../images/_DSC1930.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  border: 20px solid white;

}

.second-line {
  display: flex;
}

.box-4 {
  background-image: url("../images/_DSC0716.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  border: 20px solid white;

}

.box-5 {
  background-image: url("../images/_DSC1832.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  border: 20px solid white;

}

.box-6 {
  background-image: url("../images/_DSC8768.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

/* earrings html */

.box-7 {
  background-image: url("../images/_DSC0506.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-8 {
  background-image: url("../images/_DSC0569.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-9 {
  background-image: url("../images/_DSC0698.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-10 {
  background-image: url("../images/_DSC0716.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-11 {
  background-image: url("../images/earringssec.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-12 {
  background-image: url("../images/_DSC1217.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

/* bracelet html */

.box-13 {
  background-image: url("../images/_DSC1998.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-14 {
  background-image: url("../images/_DSC0877.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-15 {
  background-image: url("../images/bracesec.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

.box-16 {
  background-image: url("../images/_DSC0307.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  border: 20px solid white;
}

/* forms */

.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 37px;
  left: 720px;
  display: none;
}

.sign-in-form {
  position: absolute;
  width: 300px;
  height: auto;
  background-color: white;
  right: 540px;
  top: 56px;
  border-radius: 4px;
  display: none;
}

.sign-in-form>form {
  width: 250px;
  margin: 25px auto;
  font-size: 16px;
  color: gray;
  letter-spacing: 1px;
}

.joinRivera {
  color: black;
}

.account-form {
  position: absolute;
  width: 300px;
  height: auto;
  background-color: white;
  right: 540px;
  top: 56px;
  border-radius: 4px;
  display: none;
}

.arrow-up2 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 37px;
  right: 670px;
  display: none;
}

.account-form>form {
  width: 250px;
  margin: 25px auto;
  font-size: 16px;
  color: gray;
  letter-spacing: 1px;
}

input[type=text]#username,
input[type=text]#firstName,
input[type=text]#lastName,
input[type=text]#email,
input[type=password]#password {
  width: 220px;
  height: 30px;
  border: 1px solid gray;
  padding-left: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 13px;
}

label {
  display: none;
}

.signIn {
  font-weight: 300px;
  font-size: 15px;
  color: black;
}

#sign-in2 {
  color: black;
}

.forgotPassword {
  font-size: 9px;
  font-weight: 600;
  margin-left: 100px;
}

input[type="submit"] {
  width: 220px;
  height: 35px;
  background: white;
  font-size: 15px;
  font-weight: 300;
  color: white;
  background: black;
  outline: none;
  letter-spacing: 1px;
  margin-top: 10px;
  border: 1px solid black;
}

input[type="submit"]:hover {
  background: white;
  color: black;
}

.createAccount {
  margin-top: 15px;
}

.account {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

#createOne {
  font-size: 12px;
  font-weight: 800;
  color: black;
}

input[type="text"].search-form {
  display: none;
}

.arrow-up3 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 37px;
  right: 500px;
  display: none;
}

.search-form {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: white;
  right: 0;
  top: 56px;
  display: none;
}

input[type=text]#search {
  width: 100%;
  height: 70px;
  border: 0;
  font-size: 25px;
  font-weight: 300;
  padding-left: 20px;
}

#search-button {
  color: black;
}

#subscribe-form h5 {
  text-align: center;
}

#subscribe-form {
  width: 100%;
  height: auto;
}

#subscribe-email {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 10px;
  width: 500px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  text-align: center;
}

/* mobile styles */

@media(max-width: 580px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul {
    max-height: 0px;
    background: white;
  }
  .showing {
    max-height: 20em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
  .menu-icon {
    display: block;
  }
  header {
    background: url('../images/headerimg.png');
    height: 300px;
    width: 580px;
  }
  .firstContent {
    font-size: 16px;
    width: 580px;
    margin: auto;
    font-size: 16px;
    color: gray;
    line-height: 30px;
    text-align: justify;
  }
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  /* buttons */
  .shopButton {
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    height: auto;
    width: 80px;
    color: black;
    margin-left: 240px;
    margin-top: 500px;
    padding: 7px;
    text-align: center;
    border-radius: 3px;
  }
  /* .collectionButton {
    font-size: 50px;
    font-weight: 800;
    margin-left: 300px;
    margin-top: 300px;
  }
  .collectionButton {
    color: white;
    font-size: 35px;
    font-weight: 800;
    margin-left: 300px;
    margin-top: 200px;
  } */
  /* container */
  .promotionContainer {
    display: block;
  }
  .newCollectionContainer {
    margin: auto;
    width: 580px;
    height: 400px;
    background-size: cover;
    background-image: url("../images/_DSC7820.png");
  }
  .saleContainer {
    margin: auto;
    width: 580px;
    height: 400px;
    background-size: cover;
    background-image: url("../images/_DSC6595.png");
  }
  /* boxes */
  .necklaceBox {
    border: 0;
    margin: auto;
    width: 580px;
    height: 400px;
    background-image: url("../images/necklaacessec.png");
    background-size: cover;
  }
  .earringBox {
    border: 0;
    margin: auto;
    width: 580px;
    height: 400px;
    background-size: cover;
    background-image: url("../images/_DSC7610.png");
  }
  .braceletBox {
    border: 0;
    margin: auto;
    width: 580px;
    height: 400px;
    background-size: cover;
    background-image: url("../images/_DSC0877.png");
  }
  .secondContent {
    width: 480px;
    color: gray;
    font-size: 16px;
    width: 580px;
    margin: auto;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
  }
  h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}