html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.navBar {
  position: fixed;
  height: 80px;
  /* overflow: hidden; */
  top: 0;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.625);
  width: 100%;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-left: 10px;
}

.logo a {
  color: black;
}

.menu {
  position: absolute;
  right: 20px;
}

.menu a {
  color: black;
  text-decoration: none;
  font-weight: 300;
  margin: 20px;
  transition: color 0.3s;
}

.header {
  width: 100%;
  height: 600px;
}

.btn {
  display: none;
  position: absolute;
  right: 20px;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  color: white;
  background: black;
}

.first-head {
  width: 100%;
  height: 900px;
  background-image: url("../images/headerimg.png");
  background-size: cover;
  background-position: top;
}

.about-head {
  width: 100%;
  height: 900px;
  background-image: url("../images/oooo.png");
  background-size: cover;
  background-position: top;
}

.shop-bar ul {
  list-style: none;
  color: black;
  padding: 0;
  text-align: center;
  margin: 0;
}

.shop-bar ul li {
  display: inline-block;
  padding: 20px;
  padding-top: 80px;
}

.shop-bar ul li a {
  color: black;
  font-weight: 800;
  font-size: 10px;
}

h1 {
  color: black;
  text-align: center;
  padding-top: 50px;
}

.firstContent {
  font-size: 12px;
  font-weight: 300;
  color: rgb(128, 128, 128);
  width: 580px;
  margin: auto;
  line-height: 30px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 50px;
  display: table;
  background-attachment: fixed;
}

.secondContent {
  font-size: 12px;
  font-weight: 300;
  color: rgb(128, 128, 128);
  width: 580px;
  margin: auto;
  line-height: 30px;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 50px;
  display: table;
  background-attachment: fixed;
}

h2 {
  text-align: center;
  padding-top: 10px;
  color: black;
}

.brand-info {
  color: black;
  font-size: 20px;
  margin-left: 100px;
  line-height: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 900px;
  letter-spacing: 0px;
}

.brand-info h6 {
  color: black;
  font-size: 20px;
  font-weight: 300;
}

.our-warehouse {
  color: black;
  font-size: 20px;
  font-weight: 800;
  line-height: 50px;
  padding-top: 30px;
  padding-bottom: 70px;
  letter-spacing: 2px;
  margin-left: 60px;
}

.our-warehouse h6 {
  padding-bottom: 20px;
}

.suppliers-info {
  color: black;
  font-size: 20px;
  font-weight: 800;
  line-height: 50px;
  padding-top: 30px;
  padding-bottom: 70px;
  letter-spacing: 2px;
  margin-left: 60px;
}

.product-info {
  margin: auto;
  margin-top: 0;
  width: 500px;
  height: auto;
  line-height: 40px;
}

.new-collection-info {
  font-size: 12px;
  font-weight: 300;
  color: rgb(128, 128, 128);
  width: 580px;
  margin: auto;
  line-height: 30px;
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 50px;
  display: table;
  background-attachment: fixed;
}

.new-collection-info h5 {
  color: black;
  text-align: center;
}

/* buttons */

.shopButton {
  position: fixed;
  border: 1px solid white;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  height: auto;
  width: 80px;
  color: black;
  margin: auto;
  margin-top: 500px;
  padding: 7px;
  text-align: center;
  border-radius: 3px;
}

/* .collectionButton {
  font-size: 80px;
  font-weight: 800;
  margin-left: 655px;
  margin-top: 300px;
  color: white;
}

.saleButton {
  font-size: 100px;
  font-weight: 800;
  margin-left: 855px;
  margin-top: 300px;
} */

.social-media .twitter,
.instagram,
.facebook,
.pinterest {
  color: black;
  font-size: 10px;
  font-weight: 600;
}

/* containers */

.newCollectionContainer {
  width: 100%;
  height: 800px;
  background-image: url("../images/_DSC7820.png");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.black-bar {
  width: 100%;
  height: 100px;
  background-color: black;
}

.mainContainer {
  display: flex;
  width: 1000px;
  height: auto;
  margin: auto;
}

.secondary-photo {
  background-image: url("../images/_DSC7762.jpg");
  width: 900px;
  height: 700px;
  background-size: cover;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.warehouse-container {
  width: 100%;
  height: 800px;
  background: url('../images/SharonAttia5.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.more-info {
  display: flex;
  padding-bottom: 100px;
}

.product {
  background-image: url("../images/earringssec.png");
  background-size: cover;
  width: 700px;
  height: 700px;
  margin: auto;
}

footer {
  padding-top: 50px;
}

.social-media {
  width: 100%;
  height: auto;
  margin: auto;
  display: table;
  background-attachment: fixed;
}

.media-links ul {
  padding-top: 20px;
  text-align: center;
}

.media-links ul li {
  padding: 10px;
  display: inline-block;
}

.careers {
  width: 100%;
  height: auto;
}

.careers ul {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.careers ul li {
  padding: 15px;
  display: inline-block;
}

.careers ul li a {
  color: black;
}

/* pictures boxes */

.necklaceBox {
  border: 20px solid white;
  width: 320px;
  height: 320px;
  background-image: url("../images/necklaacessec.png");
  background-position: center;
  background-size: cover;
}

.earringBox {
  border: 20px solid white;
  width: 320px;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-image: url("../images/_DSC7610.png");
}

.braceletBox {
  border: 20px solid white;
  width: 320px;
  height: 320px;
  background-size: cover;
  background-image: url("../images/_DSC0877.png");
}

/* necklaces html */

.big-content-container {
  width: 700px;
  height: auto;
  margin: auto;
  padding-bottom: 60px;
}

.first-line {
  display: flex;
}

.first-line a {
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.second-line {
  display: flex;
}

.second-line a {
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.box-1 {
  background-image: url("../images/_DSC0203.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-2 {
  background-image: url("../images/_DSC1705.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-3 {
  background-image: url("../images/_DSC1930.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-4 {
  background-image: url("../images/_DSC0716.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-5 {
  background-image: url("../images/_DSC1832.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-6 {
  background-image: url("../images/_DSC8768.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

/* earrings html */

.box-7 {
  background-image: url("../images/_DSC0506.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-8 {
  background-image: url("../images/_DSC0569.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-9 {
  background-image: url("../images/_DSC0698.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-10 {
  background-image: url("../images/_DSC9457.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-11 {
  background-image: url("../images/earringssec.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-12 {
  background-image: url("../images/_DSC1217.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

/* bracelet html */

.box-13 {
  background-image: url("../images/_DSC1998.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-14 {
  background-image: url("../images/_DSC0877.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-15 {
  background-image: url("../images/bracesec.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-16 {
  background-image: url("../images/_DSC0307.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

/* new collection */

.box-17 {
  background-image: url("../images/_DSC0235.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-18 {
  background-image: url("../images/_DSC1617.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-19 {
  background-image: url("../images/_DSC6871.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-20 {
  background-image: url("../images/_DSC7748.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-21 {
  background-image: url("../images/_DSC8212.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.box-22 {
  background-image: url("../images/_DSC8026.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  border: 20px solid white;
}

.product-page {
  display: flex;
  width: 1000px;
  height: 800px;
  margin: auto;
}

.product-image1 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0203.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image2 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC1705.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image3 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC1930.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image4 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0716.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image5 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC1832.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image6 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC8768.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image7 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0506.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image8 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0569.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image9 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0698.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image10 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC9457.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image11 {
  width: 400px;
  height: 500px;
  background-image: url("../images/earringssec.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image12 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC1217.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image13 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC1998.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image14 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0877.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image15 {
  width: 400px;
  height: 500px;
  background-image: url("../images/bracesec.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image16 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0307.png");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image17 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC0235.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image18 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC1617.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image19 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC6871.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image20 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC7748.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image21 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC8212.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.product-image22 {
  width: 400px;
  height: 500px;
  background-image: url("../images/_DSC8026.jpg");
  background-size: cover;
  background-position: center;
  margin: auto;
}

.describe-product {
  width: 400px;
  height: 500px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: auto;
}

.product-title {
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.product-description {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
}

.quantity-button {
  padding: 15px;
}

#add-to-bag {
  border: 1px solid black;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 20px;
  margin-top: 20px;
}

/* forms */

.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 23px;
  right: 263px;
  display: none;
}

.sign-in-form {
  position: absolute;
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.536);
  right: 136px;
  top: 43px;
  border-radius: 4px;
  display: none;
}

.sign-in-form>form {
  width: 250px;
  margin: 25px auto;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  text-align: center;
}

.joinRivera {
  color: black;
}

.account-form {
  position: absolute;
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.536);
  right: 136px;
  top: 43px;
  border-radius: 4px;
  display: none;
}

.arrow-up2 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  top: 23px;
  right: 263px;
  display: none;
}

.account-form>form {
  width: 250px;
  margin: 25px auto;
  font-size: 16px;
  color: gray;
  letter-spacing: 1px;
  text-align: center;
}

input[type=text]#username,
input[type=text]#firstName,
input[type=text]#lastName,
input[type=text]#email,
input[type=password]#password {
  width: 220px;
  height: 30px;
  border: 1px solid gray;
  padding-left: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 13px;
}

label {
  display: none;
}

.signIn {
  font-weight: 300px;
  font-size: 15px;
  color: black;
}

#sign-in2 {
  color: black;
}

.forgotPassword {
  font-size: 9px;
  font-weight: 600;
  margin-left: 100px;
}

input[type="submit"] {
  width: 220px;
  height: 35px;
  background: white;
  font-size: 15px;
  font-weight: 300;
  color: white;
  background: black;
  outline: none;
  letter-spacing: 1px;
  margin-top: 10px;
  border: 1px solid black;
}

input[type="submit"]:hover {
  background: white;
  color: black;
}

.createAccount {
  margin-top: 15px;
}

.account {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

#createOne {
  font-size: 12px;
  font-weight: 800;
  color: black;
}

input[type="text"].search-form {
  display: none;
}

.search-form {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.536);
  top: 48px;
  right: -50px;
  display: none;
}

input[type=text]#search {
  width: 100%;
  height: 70px;
  border: 0;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.536);
}

#search-button {
  color: black;
}

footer h5 {
  text-align: center;
  padding-bottom: 20px;
}

#subscribe-form {
  width: 500px;
  height: auto;
  margin: auto;
}

#subscribe-email {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 10px;
  width: 500px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  text-align: center;
}

/* mobile styles */

@media(max-width: 580px) {
  /* index */
  .navBar {
    overflow: visible;
  }
  .menu {
    width: 100%;
    right: 0;
    top: 80px;
    background: white;
    overflow: hidden;
    max-height: 0;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
  .first-head {
    background: url('../images/headerimg.png') no-repeat;
    background-position: bottom;
    height: 300px;
    width: 100%;
    background-size: 300px;
  }
  .firstContent {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: gray;
    line-height: 30px;
    text-align: justify;
  }
  h1 {
    text-align: center;
    padding-top: 10px;
  }
  .secondContent {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: gray;
    line-height: 30px;
    text-align: justify;
  }
  .new-collection-info {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: gray;
    line-height: 30px;
    text-align: justify;
  }
  .mainContainer {
    display: block;
    width: 100%;
  }
  #subscribe-email {
    width: 200px;
    margin: auto;
    margin-left: -50px;
  }
  #subscribe-form {
    width: 100px;
  } 
  
  .necklaceBox,
  .earringBox,
  .braceletBox {
    border: none;
    width: 100%;
    background-repeat: no-repeat;

  }
  .newCollectionContainer {
    background-position: center;
    height: 200px;
    width: 100%;
    background-size: 500px;
    background-image: url("../images/_DSC7820.png") no-repeat;
    background-attachment: scroll;
  }
  .about-head {
    background: url('../images/oooo.png') no-repeat;
    background-position: bottom;
    height: 300px;
    width: 100%;
    background-size: 300px;
  }
  .brand-info h6 {
    padding-bottom: 20px;
  }
  .brand-info {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin: 0;
  }
  .secondary-photo {
    background-image: url("../images/_DSC7762.jpg") no-repeat;
    width: 100%;
    height: 200px;
    background-size: 300px;
    margin: auto;
  }
  .our-warehouse {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin: 0;
  }
  .warehouse-container {
    background-image: url("../images/SharonAttia5.jpg") no-repeat;
    width: 100%;
    height: 200px;
    background-size: 300px;
    margin: auto;
  }
  .suppliers-info {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin: 0;
  }
  .more-info {
    display: block;
  }
  .product {
    background-image: url("../images/_earringssec.jpg") no-repeat;
    width: 100%;
    height: 200px;
    background-size: 300px;
    margin: auto;
  }
  .product-info {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin: 0;
  }
  .first-line {
    display: block;
  }
  .second-line {
    display: block;
  }
  .shop-bar ul {
    list-style: none;
    color: black;
    padding: 0;
    text-align: center;
    margin: auto;
  }
  .shop-bar ul li {
    display: inline-block;
    padding: 5px;
    padding-top: 80px;
  }
  .shop-bar ul li a {
    color: black;
    font-weight: 800;
    font-size: 10px;
  }
  .box-1 {
    background-image: url("../images/_DSC0203.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-2 {
    background-image: url("../images/_DSC1705.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-3 {
    background-image: url("../images/_DSC1930.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-4 {
    background-image: url("../images/_DSC0716.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-5 {
    background-image: url("../images/_DSC1832.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-6 {
    background-image: url("../images/_DSC8768.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-7 {
    background-image: url("../images/_DSC0506.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-8 {
    background-image: url("../images/_DSC0569.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-9 {
    background-image: url("../images/_DSC0698.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-10 {
    background-image: url("../images/_DSC9457.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-11 {
    background-image: url("../images/earringssec.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-12 {
    background-image: url("../images/_DSC1217.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-13 {
    background-image: url("../images/_DSC1998.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-14 {
    background-image: url("../images/_DSC0877.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-15 {
    background-image: url("../images/bracesec.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-16 {
    background-image: url("../images/_DSC0307.png");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-17 {
    background-image: url("../images/_DSC0235.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-18 {
    background-image: url("../images/_DSC1617.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-19 {
    background-image: url("../images/_DSC6871.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-20 {
    background-image: url("../images/_DSC7748.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-21 {
    background-image: url("../images/_DSC8212.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .box-22 {
    background-image: url("../images/_DSC8026.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    height: 300px;
    width: 300px;
    margin: 0;
  }
  .product-page {
    width: 300px;
    height: 1000px;
    display: block;
    padding-top: 70px;
  }
  #add-to-bag {
    border: 1px solid black;
    font-weight: 200;
    font-size: 12px;
    color: white;
    background: black;
    letter-spacing: 2px;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
  }
  .describe-product {
    font-size: 16px;
    width: 100%;
    font-size: 16px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin: 0;
    margin-bottom: 40px;
  }
  .product-image1 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image2 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image3 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image4 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image5 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image6 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image7 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image8 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image9 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image10 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image11 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image12 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image13 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image14 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image15 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image16 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image17 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image18 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image19 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image20 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image21 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
  .product-image22 {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }
}